[Unit]
Description=An open source search engine. 
After=network.target

[Service]
Type=simple
WorkingDirectory={{ APP_OPT }}
ExecStart=/usr/bin/podman run -v {{ APP_DATA }}:{{ APP_DATA }} -h localhost -p {{ APP_PORT }}:{{ APP_PORT }} -h localhost {{ APP_NAME }}:{{ APP_VERSION }}
ExecStop=/usr/bin/podman stop -t 2 {{ APP_NAME }}
Environment=ZK_HOSTNAME={{ ZOOKEEPER_HOST_NAME }}
LimitNOFILE=65000
LimitNPROC=65000
Restart=on-failure

[Install]
WantedBy=multi-user.target

