[Unit]
Description=An open source search engine. 
After=zookeeper.service

[Service]
Type=simple
User={{ APP_USER }}
WorkingDirectory={{ APP_OPT }}
ExecStart=/usr/bin/podman run --name {{ APP_NAME }} --pod {{ APP_POD }} -v {{ APP_DATA }}:{{ APP_DATA }}:Z --rm -e ZK_HOST={{ ZOOKEEPER_HOST_NAME }} -e SOLR_INCLUDE=/usr/share/solr/solr.in.sh {{ APP_NAME }}:{{ APP_VERSION }}
ExecStop=/usr/bin/podman rm {{ APP_NAME }} -f
LimitNOFILE=65000
LimitNPROC=65000
Restart=on-failure

[Install]
WantedBy=multi-user.target

