<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>org.solr</string>

                <key>ProgramArguments</key>
                <array>
                        <string>{{ SOLR_OPT }}/bin/solr</string>
                        <string>start</string>
                        <string>-f</string>
                        <string>-c</string>
                        <string>-s</string>
                        <string>{{ SOLR_OPT }}</string>
                        <string>-h</string>
                        <string>localhost</string>
                        <string>-p</string>
                        <string>{{ SOLR_PORT }}</string>
                        <string>-z</string>
                        <string>{{ ZOOKEEPER_HOST_NAME }}:{{ ZOOKEEPER_PORT }}</string>
                </array>

                <key>EnvironmentVariables</key>
                <dict>
                </dict>

                <key>KeepAlive</key>
                <true/>

                <key>LowPriorityIO</key>
                <true/>
        </dict>
</plist>
